mixin menu(isRoot, menuItem)
    li(class=menuItem.children ? "dropdown" : "")
        if (menuItem.children && isRoot)
            a(href="#", data-toggle="dropdown").dropdown-toggle= messages(menuItem.name)
                b.caret
        else
            a(href=menuItem.url)= messages(menuItem.name)

        if menuItem.children
            ul.dropdown-menu
                each child in menuItem.children
                    +menu(false, child)


mixin defaultMeta()
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1.0')

mixin defaultFavicon()
   link(rel="icon" href="/favicon.ico", type="image/x-icon")

mixin pageTitle()
   title= menuService.appTitle || menuService.appName()

mixin lessTheme()
   link(href='/assets/less/' + services.themeService.mainCss(), rel='stylesheet')

mixin defaultNavBar()
   .navbar.navbar-default.navbar-fixed-top(role='navigation')
      div(class=fluid ? 'container-fluid col-lg-12' : 'container')
          .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href='/')= menuService.appName()
          if user || !securityService.onlyAuthenticated
              .navbar-collapse.collapse
                  ul.nav.navbar-nav
                      each i in menuService.menus(user)
                          +menu(true, i)
                  if user && !user.isGuest
                      ul.nav.navbar-nav.navbar-right
                          li.dropdown
                              a.dropdown-toggle(href='#', data-toggle='dropdown')
                                  i.glyphicon.glyphicon-user
                                  | &nbsp;#{user.username}
                                  b.caret
                              ul.dropdown-menu
                                  li
                                      if user.hasRole('admin')
                                          a(href='/entity/User')= messages('Users')
                                      a(href='/logout')= messages('Logout')
mixin defaultHead()
   head
      +defaultMeta()
      +defaultFavicon()
      +pageTitle()
      +lessTheme()
      include head-scripts
      include tracking