mixin defaultToolbar(withoutHeader)
    div(class=!withoutHeader ? 'toolbar-header' : '')
        .container.form-inline(ng-show='viewState.mode == "list"')
            .pull-left: .btn-toolbar
                button.btn.btn-success.ng-cloak(ng-click='toCreate()', lc-tooltip="entity.create", ng-hide='viewState.editState', ng-if='gridMethods.hasWritePermission()')
                    i.glyphicon.glyphicon-plus
                button.btn.btn-default.ng-cloak(ng-click='startGridEditing()', lc-tooltip="entity.edit", ng-hide='viewState.editState', ng-if='gridMethods.hasWritePermission()')
                    i.glyphicon.glyphicon-pencil
                button.btn.btn-default.ng-cloak(ng-click='doneGridEditing()', lc-tooltip="entity.done", ng-show='viewState.editState')
                    i.glyphicon.glyphicon-ok
                +actions('all-items')
                span.entity-title.hidden-xs.hidden-sm= messages(entityTitle) || ' '
            .pull-right.form-inline
                input.form-control.hidden-xs(type='text', ng-model='viewState.filtering.textSearch', ng-trim='true', placeholder=messages("entity.search"))
                span(a-paging='"' + entityTypeId + '"', paging='viewState.paging', publish-methods='pagingMethods', filtering='viewState.filtering', total-row='viewState.totalRow')
        .container(ng-show="viewState.mode === 'create'"): .btn-toolbar
            button.btn.btn-default.ng-cloak(ng-click='returnToGrid()', lc-tooltip="entity.backToList")
                i.glyphicon.glyphicon-chevron-left
            button.btn.btn-default.ng-cloak(ng-click='createForm.createEntity(returnToGrid)', lc-tooltip="entity.create")
                i.glyphicon.glyphicon-ok
        .container(ng-show="viewState.mode == 'form'"): .btn-toolbar
            button.btn.btn-default.ng-cloak(ng-click='returnToGrid()', lc-tooltip="entity.backToList")
                i.glyphicon.glyphicon-chevron-left
            button.btn.btn-default.ng-cloak(ng-click='startEditing()', lc-tooltip="entity.edit", ng-hide='viewState.isFormEditing', ng-if='gridMethods.hasWritePermission()')
                i.glyphicon.glyphicon-pencil
            button.btn.btn-default.ng-cloak(ng-click='doneEditing()', lc-tooltip="entity.done", ng-show='viewState.isFormEditing')
                i.glyphicon.glyphicon-ok
            +actions('single-item')

mixin actions(actionTarget)
    button.btn.btn-default.ng-cloak(
    ng-repeat='action in actions',
    ng-click='action.perform()',
    lc-actions='"' + entityTypeId + '"',
    action-target="'#{actionTarget}'",
    on-refresh="refreshOnAction()",
    selected-items="[viewState.formEntityId]",
    ng-disabled="!action.isEnabled",
    publish-methods="actionMethods",
    class!=attributes.class
    ) {{action.name}}

mixin noEntries()
    div(ng-show="viewState.mode === 'list' && viewState.paging.count == 0 && !viewState.editState")
        b= messages("entity.noRecords")

mixin defaultEditAndCreateForms()
    .right-animation-screen.form-horizontal.lc-form-create(ng-show='viewState.mode == "create"', lc-form='"' + entityTypeId + '"', publish-methods='createForm')
    .right-animation-screen.form-horizontal.lc-form-default(ng-show="viewState.mode === 'form'", lc-form='"' + entityTypeId + '"', entity-id='viewState.formEntityId', publish-methods='editForm', is-editor='viewState.isFormEditing')

mixin defaultGrid()
    .left-animation-screen(
    a-grid='"' + entityTypeId + '"',
    filtering='viewState.filtering',
    ng-show='viewState.mode == "list" && viewState.paging.count > 0 || viewState.editState',
    edit-mode='viewState.editState',
    navigate='navigateTo($entityId)',
    paging='viewState.paging',
    total-row='viewState.totalRow',
    publish-methods='gridMethods'
    )
